
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: myFont;
  src: url(fonts/Barlow-Bold.ttf);
  font-weight: bold;
}


body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: white;
    gap: 20px;
}


.mainboxmother {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 40px;
}


.mainbox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box1 button {
    width: 175px;
    height: 58px;
    border-radius: 8px;
    background-color: #E8EFF2;
    color: black;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}


.box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.box2div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.box2 img {
    width: 540px;
    height: 480px;
    border-radius: 12px;
}


.box2div button {
    width: 175px;
    height: 58px;
    border-radius: 8px;
    background-color: #F16718;
    color: white;
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}


.tkeyboard {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 312px;
    justify-content: space-evenly;
}


.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}


.box3div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 255px;
    height: 265px;
}


.box4 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.group1 {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 323px;
    background-color: white;
    border-radius: 20px;
}


.group1 img {
    width: 48px;
    margin: 15px;
}


p {
    font-family: myFont;
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 10px;
}


.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typemaster {
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.reserved {
    font-family: myFont;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
}


h1 {
    font-family: myFont;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 10px;
}

h2 {
    font-family: myFont;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 10px;
}

h3 {
    font-family: myFont;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #7B8BAD;
}

h4 {
    font-family: myFont;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
}

h5 {
    font-family: myFont;
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 10px;
} 
h6 {
    font-family: myFont;
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 10px;
}

.grayleft {
     position: absolute;
    background-color: #E8EFF2;
    border-radius: 20px;
    width: 255px;
    height: 236px;
    top: 950px;
    left: -120px;
}

.grayright {
    position: absolute;
    background-color: #E8EFF2;
    border-radius: 20px;
    width: 255px;
    height: 240px;
    top: 196px;
    right: -120px;
}